label.logo-caption {
    font-size: 2em;
    font-family: roboto;
    cursor: pointer;
}

    label.logo-caption span.first {
        color: #19c1d5;
        /*font-style: italic*/
    }

    label.logo-caption span.second {
        color: #19c1d5;
    }


.logo-container {
    padding-left: 2em;
}

    .logo-container:hover {
        cursor: pointer;
    }
